<main>
    <h2>CONTACTO</h2>
    <p>Transformando ideas en códigos</p>
    <p>Todos los campos con<span>*</span> son obligatorios</p>
    <form action="https://dev.adalab.es/api/form" method="post">
        
        <label for="name">Nombre completo<span>*</span></label>
        <input type="text" name="" id="" placeholder="Nombre...">

        <label for="mail">Email<span>*</span></label>
        <input type="email" name="" id="" placeholder="nombre.apellido@gmail.com...">

        <label for="phone">Teléfono<span>*</span></label>
        <input type="number" name="" id="" placeholder="Ej:123456789">

        <label for="comments">Mensaje<span>*</span></label>
        <textarea name="comments" cols="50" rows="10" id=""></textarea>

        <button type="submit">ENVIAR</button>
       


    </form>
</main>