<main class="section">
    <h2 class="section_contact">CONTACTO</h2>
    <p class="section_lema">Transformando ideas en códigos</p>
    <p>Todos los campos con<span>*</span> son obligatorios</p>
    <form class="form" action="https://dev.adalab.es/api/form" method="post">
        
        <label class="part" for="name">Nombre completo<span class="part_cod" >*</span></label>
        <input type="text" name="name" id="name" placeholder="Nombre...">

        <label class="part" for="mail">Email<span class="part_cod" >*</span></label>
        <input type="email" name="mail" id="mail" placeholder="nombre.apellido@gmail.com...">

        <label class="part" for="phone">Teléfono<span class="part_cod" >*</span></label>
        <input type="number" name="phone" id="phone" placeholder="Ej:123456789">

        <label class=part for="comments">Mensaje<span class="part_cod" >*</span></label>
        <textarea name="comments" cols="50" rows="10" id=""></textarea>

        <button class="button" type="submit">ENVIAR</button>
       


    </form>
</main>